* {
    margin: 0;
    padding: 0;
    
}

.login-container {
    width: 541px;
    max-width: 100%;
    margin: 50px auto 250px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(215, 215, 215);
    padding: 20px;
}

.flex-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.check-container {
    display: flex;
    align-items: center;
}