html {
    scroll-behavior: smooth
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */

}

body {
    width: 100%;
}

:root {
    /* colors universal colors for all pages */

    --font-family: 'Poppins', sans-serif;
    --font-family2: 'Open sand', sans-serif;
    --primary-color: #136635;
    --primary-color2: #77ac8d;
    /* asset ---black---*/
    --asset-black: #000;
    --white: #ffff;
    /* asset ---other---*/
    --out-line-color: #d7d7d7;
    --rgba-color: rgba(0, 0, 0, .25);
    --fade-black: #201c1cd2;
    --asset-color-hover: #2cac61;
    --asset-color-fade-white: #efefef;
    --asset-color-gray: #504e4e;
    --asset-color-red: #ff0000;
    --asset-color-gray: #7A8388;
    --box-shadow: 6px 7px 54px 0px rgba(0, 0, 0, 0.15);
    /* --font--width */
    --Xl-width: 900;
    --L-width: 800;
    --M-width: 700;
    --s-width: 550;
    --ss-width: 500;
    --sss-width: 300;
}

header {
    position: fixed;
    background: var(--white);
    z-index: 9999;
    width: 100%;
    top: 0;
}

.navHeader-container {
    display: flex;
    align-items: center;
    min-width: 801px;
    width: 100%;
    height: 87px;
    padding: 24px 8px 8px;
    justify-content: space-between;
}

.fixedContainer {
    margin: auto;
    max-width: 1164px;
    padding: 0 10px;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-left {
    width: 69%;

}

.zeroobooks-logo {
    width: 110px;
    height: auto;
    max-width: 100%;
    margin-top: 20px;
}

.navHeader-container h1 {
    padding-right: 10px;
    font-family: var(--font-family);
    color: var(--fade-black);

}

.inputContainer,
.inputContainer2 {
    flex: 1;
    max-width: 496px
}

.inputContainer .Search,
.inputContainer2 .Search {
    position: relative
}

.inputContainer .Search-input,
.inputContainer2 .Search-input {
    width: 100%;
    height: calc(24px + 1rem);
    font-size: .875rem;
    line-height: 24px;
    padding: 8px 112px 8px 12px;
}

.inputContainer .Button-container,
.inputContainer2 .Button-container {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100px;
    height: 2.5rem;
    box-shadow: none;
    background-color: var(--primary-color);
}

.inputContainer .Button-container button,
.inputContainer2 .Button-container button {
    position: relative;
    padding: 10px;
    background-color: transparent;
    border: none;

}

.inputContainer2 {
    display: none;
}

.fa-magnifying-glass {
    color: var(--white);
    font-size: 20px;
}

.greeting-container {
    width: 100%;
    text-decoration: none;
}

.bold {
    font-weight: 700;
    font-size: 14px;
    color: var(--asset-black);
    font-family: var(--font-family);
}

.user-login {
    text-align: right;
    margin-top: 2px;
    padding-right: 14px;
    font-size: 14.4px;
    font-family: var(--font-family);
    color: var(--asset-black);
}

.navHeader-verticalBar {
    border-right: 2px solid var(--asset-color-fade-white);
    height: 40px;
    margin: 16px;
}

.nav-right .heart-link {
    margin-left: 16px;
    padding-top: 3px;
}

.cart-link {
    position: relative;
}

.nav-right .fa-cart-flatbed-suitcase,
.fa-heart {
    position: relative;
    font-size: 33px;
    color: var(--asset-color-gray);

}

.nav-right .fa-cart-flatbed-suitcase:hover,
.fa-heart:hover {
    position: relative;
    font-size: 33px;
    color: var(--asset-color-hover);

}

.HeaderCartCount-text {
    position: absolute;
    text-align: center;
    color: var(--white);
    font-weight: 600;
    padding: 0px 4px 4px 4px;
    background: var(--primary-color);
    width: 25px;
    font-family: var(--font-family);
    font-size: 15px;
    height: 25px;
    border-radius: 50%;
    top: -25px;
    right: -8px;
    border: solid 3px var(--white);
}

.links-wrapper {
    margin-top: 20px;
}

/* .dropdown-container,
.dropdown-container2,
.dropdown-container3,
.dropdown-container4 {
    display: none;
    width: 100%;
    background: #008575;
    height: 50vh;
} */

.nav-item {
    display: flex;
    align-items: center;
}

.nav-menu-ul {
    display: flex;
}

.nav-list1 {
    display: none;
    list-style: none;
    padding: 0px 0px 0px 30px;
}

.nav-list1 .login {
    text-decoration: none;
    color: var(--fade-black);
    font-weight: var(--s-width);
    font-family: var(--font-family2);
}


.nav-list {
    list-style: none;
    padding: 0px 0px 0px 30px;
}

.nav-list a {
    position: relative;
    text-decoration: none;
    height: 2.5rem;
    font-weight: var(--s-width);
    font-size: .9rem;
    cursor: pointer;
    color: var(--fade-black);
    font-family: var(--font-family2);
}

.nav-list a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3.9px;
    background: var(--primary-color);
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    font-size: .9rem;
    transform: scaleX(0);
    transition: transform .6s;
    transform-origin: right;

}

.nav-list a:hover:after {
    transform: scaleX(1);
    transform-origin: left;
}

.nav-list a .fa-angle-down {
    cursor: pointer;
    transition: all .3s ease-in;
}

.nav-list a .fa-angle-down:hover {
    transform: rotate(-180deg);
}

.horizontal-line {
    width: 100%;
    max-width: 1186px;
    height: 1px;
    margin: 10px auto;
    background: #e0d7d7;
}

.banner-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 9rem;
    margin-bottom: 15px;
}

.Banner-link1 {
    width: 100%;
    text-decoration: none;
    max-width: 565px;
    border: 1px solid var(--out-line-color);
}

.banner-container .span-heading {
    margin: 10px;
    color: var(--fade-black);
    text-decoration: none;
    font-weight: var(--s-width);
    font-family: var(--font-family);
}

.banner-container p span {
    color: var(--primary-color);
    font-family: var(--font-family);
}

.banner-container .span-heading:hover {
    /* text-decoration: underline var(--fade-black); */
    color: var(--primary-color);
}

.Banner-container-2 {
    width: 100%;
    display: flex;
    max-width: 565px;
    flex-direction: column;
}

.banner-2-link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.Banner-link1 img {
    width: 100%;
}

.Banner-link2 {
    width: 100%;
    max-width: 200px;
    border: 1px solid var(--out-line-color);
}

.Banner-link img {
    width: 100%;
    margin-bottom: 5px;
}

.Banner-link-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Banner-link1 span,
.Banner-link span {
    margin: 10px;
}

.Banner-link {
    width: 100%;
    text-decoration: none;
    max-width: 276px;
    border: 1px solid var(--out-line-color);
}

.gap-spacing {
    margin-top: 10px;
}

.selection-container {
    background-color: var(--primary-color);
    display: flex;
    flex-grow: 1;
    flex-direction: row
}

.selection-container a:focus {
    border: none;
    outline: 1px solid var(--white);
}

.selection-container-item {
    flex: 1 0 auto;
    padding: 0 1rem;
    margin: .5rem 0;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center
}

.selection-container-item a {
    color: var(--white);
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: var(--ss-width);
}

.selection-container-item a:hover .PersonalizedHeroBar-title {
    text-decoration: underline;
}

.selection-container-item+.selection-container-item {
    border-left: 1px solid var(--white);
}

.selection-container-title {
    display: block;
    font-weight: var(--ss-width);
}

/* ==========glider-css======== */

/* ===========Slider============ */

.glider-contain {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.glider {
    margin: 0 auto;
    position: relative;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    transform: translateZ(0);
}

.gradient-border h3, .glider-contain h3 {
    font-size: 1.7rem;
    color: var(--primary-color);
    font-weight: var(--s-width);
    font-family: var(--font-family);
}

.glider-contain h3 {
    margin-top: 1rem;
}

.gradient-border p {
    font-size: .8rem;
    line-height: 10px;
    color: var(--fade-black);
    font-weight: var(--s-width);
    font-family: var(--font-family);
}

.p-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.product-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    width: 170px;
    box-shadow: 0px 1px 3px 3px rgba(2, 0, 0, 0.066);
    position: relative;
}

.p-img a,
.p-img {
    width: 100%;
    width: 170px;

}

.p-img a img {
    width: 100%;
}

.p-box-text {
    width: 100%;
    margin: 10px;
}

.price-buy .fa-solid {
    color: var(--primary-color);
}

.product-category {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.product-category span {
    color: var(--primary-color);
    font-family: var(--font-family);
    font-weight: var(--ss-width);
    font-size: 0.9rem;
    margin: 5px 0px;
}

.product-tittle {
    color: #333333;
    font-family: var(--font-family);
    font-weight: 600;
    text-decoration: none;
    transition: all ease 0.3s;
}

.product-tittle:hover {
    color: var(--asset-color-hover);
    opacity: 0.7;
    transition: all ease 0.3s;
}

.price-buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-buy .p-price {
    font-size: 1rem;
    text-transform: capitalize;
    color: var(--primary-color);
    font-family: var(--font-family);
    font-weight: var(--M-width);
}

.glider-track {
    transform: translateZ(0);
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 50px;
    display: flex;
    z-index: 1;
}

.glider.draggable {
    user-select: none;
    cursor: -webkit-grab;
    cursor: grab;
}

.glider.draggable .glider-slide img {
    user-select: none;
    pointer-events: none;
}

.glider.drag {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.glider-slide {
    user-select: none;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.glider-slide img {
    max-width: 100%;
}

.glider::-webkit-scrollbar {
    opacity: 0;
    height: 0;
}

.glider-prev,
.glider-next {
    user-select: none;
    position: absolute;
    outline: none;
    width: 40px;
    height: 40px;
    background: var(--primary-color);
    border-radius: 100%;
    padding: 0;
    z-index: 2;
    font-size: 40px;
    text-decoration: none;
    left: -23px;
    font-size: 1.5rem;
    border: 0;
    top: 40%;
    cursor: pointer;
    color: var(--asset-color-fade-white);
    opacity: 1;
    line-height: 1;
    transition: opacity .5s cubic-bezier(.17, .67, .83, .67),
        color .5s cubic-bezier(.17, .67, .83, .67);
}

.glider-prev:hover,
.glider-next:hover,
.glider-prev:focus,
.glider-next:focus {
    color: var(--asset-color-hover);
}

.glider-next {
    right: -23px;
    left: auto;
}

.glider-next.disabled,
.glider-prev.disabled {
    opacity: .25;
    color: var(--primary-color);
    cursor: default;
}

.glider-slide {
    min-width: 150px;
}

.glider-hide {
    opacity: 0;
}

.glider-dots {
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}

.glider-dot {
    border: 0;
    padding: 0;
    user-select: none;
    outline: none;
    display: block;
    cursor: pointer;
    color: #ccc;
    border-radius: 999px;
    background: var(--primary-color2);
    width: 12px;
    height: 12px;
    margin: 7px;
}

.glider-dot:hover,
.glider-dot:focus,
.glider-dot.active {
    background: var(--primary-color);
}

@media(max-width: 36em) {
    .glider::-webkit-scrollbar {
        opacity: 1;
        -webkit-appearance: none;
        width: 7px;
        height: 3px;
    }

    .glider::-webkit-scrollbar-thumb {
        opacity: 1;
        border-radius: 99px;
        background-color: rgba(61, 163, 93, 0.25);
        box-shadow: 0 0 1px rgba(255, 255, 255, .25);
    }
}



.flex-wrapper h2 {
    margin-top: 20px;
}

.HomeCategories {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

.HomeCategories a {
    color: var(--primary-color);
    font-family: var(--font-family);
    text-decoration: none;
}

.HomeCategories a:hover {
    text-decoration: underline;
    color: var(--asset-color-hover);
}

.u-horizontalDivider {
    height: 1px;
    width: 100%;
    margin: 1rem 0;
    background: #e0d7d7;
}

.HomeCategories h3 {
    font-weight: var(--s-width);
    font-size: 2rem;
    color: var(--fade-black);
    margin: .5rem 0;
    font-family: var(--font-family);
}

.HomeCategories-items {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.HomeCategories-category {
    min-width: 290px;
    flex: 0 0 30%;
    padding: 1rem 0;
    font-size: .8rem;
    display: flex;
    flex-direction: row;
}

.HomeCategories-category h3 {
    text-transform: uppercase;
    margin: 0 0 1rem;
    font-size: inherit;
}

.HomeCategories-categoryBar {
    display: flex;
}

.HomeCategories-categoryLink {
    padding: 0 2rem;
    flex: 1 1;
}

.HomeCategories-subcategories a {
    font-weight: var(--ss-width);
}

.HomeCategories-categoryImage img {
    width: 120px;
    max-width: none;
    height: 180px;
}

.FooterContainer {
    width: 100%;
    background: #136635;
    position: relative;
}

.Footer {
    display: flex;
    align-items: stretch;
    color: #fff;
    position: relative;
    overflow: hidden;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.Footer a {
    color: var(--white);
    text-decoration: none;
    font-family: var(--font-family);
    font-size: .775rem;
    font-weight: var(--ss-width);
}

.Footer h3 {
    font-family: var(--font-family);
    font-size: 1.2rem;
    font-weight: 600;
}

.Footer-links ul {
    list-style: none;
    padding: 0;
    margin-bottom: 2rem;
}

.Footer-linksHalf {
    vertical-align: top;
    width: 49%;
    min-width: 180px;
    display: inline-block;
    padding: 0 .5rem;
}

.Footer-linksHalf li {
    margin: .75rem 0;
}

.Footer-linksSection {
    vertical-align: top;
    width: 49%;
    min-width: 180px;
    display: inline-block;
}

.Footer-sidebar {
    width: 346px;
    padding: .5rem 0 .5rem 1rem;
    border-left: 1px solid rgba(0, 0, 0, .25);
}

.Footer-sidebar h3 {
    margin: 0;
}

.Footer-content {
    font-size: .875rem;
    margin: 10px;
    line-height: 2rem;
    font-family: var(--font-family);
}

.Footer-socials {
    margin: .5rem 0 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Colophon-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, .25);
    padding: 1rem 0;
    font-size: .875rem;
    font-weight: 300;
    color: #fff;
    overflow: hidden;
}

.Colophon-content>div {
    display: inline-block;
    line-height: 1.5rem;
    font-family: var(--font-family);
}

.Colophon-content a {
    color: var(--white);
    text-decoration: none;
    font-weight: var(--sss-width);
}

.Colophon-content a:hover {
    cursor: pointer;
}

.Footer-goDaddy {
    font-family: var(--font-family);
}

/* ================hambuger======================== */

.hambuger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 30px;
    height: 5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--primary-color);
    border-radius: 10rem;
}

@media(max-width: 808px) {
    .hambuger,.nav-menu-ul {
        display: block;
    }

    /* .nav-list1 {
        display: block;
    } */

    .nav-item {
        position: fixed;
        left: -100%;
        top: 0px;
        gap: 0;
        flex-direction: column;
        background-color: var(--white);
        width: 80%;
        height: 95vh;
        padding: 0 20px;
        /* text-align: center; */
        transition: 0.3s;
        z-index: 99999;
    }


    .nav-item li {
        margin: 1rem;
    }

    .hambuger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hambuger.active .bar:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .hambuger.active .bar:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }



    .nav-menu.active,
    .nav-item.active {
        left: 0;
    }
}

/* ==========Responsiveness======== */




@media screen and (max-width:1190px) and (min-width:1130px) {
    .fixedContainer {
        max-width: 1104px;
    }
}

@media screen and (max-width: 1130px) and (min-width:1034px) {
    .fixedContainer {
        max-width: 1010px;
    }
}

@media screen and (max-width: 1034px) and (min-width:940px) {
    .fixedContainer {
        max-width: 890px;
    }
}


@media screen and (max-width:1190px) and (min-width:1130px) {
    .fixedContainer {
        max-width: 1104px;
    }
}

@media screen and (max-width: 1130px) and (min-width:1034px) {
    .fixedContainer {
        max-width: 1010px;
    }
}

@media screen and (max-width: 1034px) and (min-width:940px) {
    .fixedContainer {
        max-width: 890px;
    }
}

@media screen and (max-width: 960px) and (min-width:852px) {
    .fixedContainer {
        max-width: 800px;
    }

    .thriftbook-logo {
        width: 200px;
        min-width: 100%;

    }

    .Banner-link {
        max-width: 414px;
    }


    .banner-container {
        display: flex;
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .Banner-link1 {
        max-width: 1180px;
        margin-bottom: -2px;
        margin-top: 40px;
    }

    .Banner-link-2 {
        max-width: 880px;
        margin-bottom: -2px;
        margin-top: -26px;
    }

    .Banner-container-2 {
        max-width: 880px;
    }

    .banner-container {
        margin-top: -2.5rem;

    }


    .HomeCategories-category {
        min-width: 329px;
    }
}

@media screen and (max-width: 852px) and (min-width:808px) {
    .fixedContainer {
        max-width: 740px;
    }

    .thriftbook-logo {
        width: 200px;
        min-width: 100%;

    }

    .Banner-link {
        max-width: 414px;
    }


    .banner-container {
        display: flex;
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .Banner-link1 {
        max-width: 1180px;
        margin-bottom: -2px;
        margin-top: 40px;
    }

    .Banner-link-2 {
        max-width: 880px;
        margin-bottom: -2px;
        margin-top: -26px;
    }

    .Banner-container-2 {
        max-width: 880px;
    }

    .banner-container {
        margin-top: -2.5rem;

    }
}


@media screen and (max-width: 808px) and (min-width:768px) {
    .fixedContainer {
        max-width: 700px;
    }

    .navHeader-container {
        min-width: 0;
        height: 50px;
    }



    .navHeader-container {
        min-width: 0;
        height: 50px;
    }

    .thriftbook-logo {
        width: 200px;
        min-width: 100%;


    }

    .CartContainer {
        margin-right: 40px;
    }

    .inputContainer {
        display: none;
    }

    .inputContainer2 {
        display: flex;
        justify-content: center;
        margin-top: 5px;
        width: 100%;
        width: 700px;
        padding: 5px 0px;
    }

    .inputContainer2 .Search {
        width: 800px;
    }

    .inputContainer2 .Search-input {
        width: 663px;
        margin-left: 10px;
    }

    .inputContainer2 .Button-container {
        position: absolute;
        right: 0;
        top: 0;
        max-width: 100px;
        height: 2.5rem;
        box-shadow: none;
        margin-right: 11px;
        background-color: #008575;
    }

    .horizontal-line {
        display: none;
    }

    #user-container,
    .navHeader-verticalBar,
    .heart-link {
        display: none;
    }

    .nav-list1 {
        display: flex;
    }

    .Banner-link {
        max-width: 284px;
    }


    .banner-container {
        display: flex;
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .Banner-link1 {
        max-width: 1180px;
        margin-bottom: -2px;
        margin-top: 40px;
    }

    .Banner-link-2 {
        max-width: 880px;
        margin-bottom: -2px;
        margin-top: -26px;
    }

    .Banner-container-2 {
        max-width: 880px;
    }

    .banner-container {
        margin-top: -2.5rem;

    }

    .selection-container {
        flex-wrap: wrap;
    }



    .Footer-linksSection {
        width: 43%;
    }

    .Footer-sidebar {
        width: 346px;
    }
}






@media screen and (max-width: 768px) and (min-width:640px) {
    .fixedContainer {
        max-width: 600px;
    }

    .navHeader-container {
        min-width: 0;
        height: 50px;
    }

    .thriftbook-logo {
        width: 200px;
        min-width: 100%;


    }

    .CartContainer {
        margin-right: 40px;
    }

    .inputContainer {
        display: none;
    }

    .inputContainer2 {
        display: flex;
        justify-content: center;
        margin-top: 5px;
        width: 100%;
        width: 700px;
        padding: 5px 0px;
    }

    .inputContainer2 .Search {
        width: 700px;
    }

    .inputContainer2 .Search-input {
        width: 556px;
        margin-left: 10px;
    }

    .inputContainer2 .Button-container {
        position: absolute;
        right: 0;
        top: 0;
        max-width: 100px;
        height: 2.5rem;
        box-shadow: none;
        margin-right: 11px;
        background-color: #008575;
    }

    .horizontal-line {
        display: none;
    }

    #user-container,
    .navHeader-verticalBar,
    .heart-link {
        display: none;
    }

    .nav-list1 {
        display: flex;
    }

    .Banner-link {
        max-width: 284px;
    }


    .banner-container {
        display: flex;
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .Banner-link1 {
        max-width: 1180px;
        margin-bottom: -2px;
        margin-top: 40px;
    }

    .Banner-link-2 {
        max-width: 880px;
        margin-bottom: -2px;
        margin-top: -26px;
    }

    .Banner-container-2 {
        max-width: 880px;
    }

    .banner-container {
        margin-top: -2.5rem;

    }

    .selection-container {
        flex-wrap: wrap;
    }



    .Footer-linksSection {
        width: 43%;
    }

    .Footer-sidebar {
        width: 346px;
    }
}

@media screen and (max-width: 640px) and (min-width:416px) {
    .fixedContainer {
        max-width: 390px;
    }

    .navHeader-container {
        min-width: 0;
        height: 50px;
    }

    .thriftbook-logo {
        width: 200px;
        min-width: 100%;


    }

    .CartContainer {
        margin-right: 40px;
    }

    .inputContainer {
        display: none;
    }

    .inputContainer2 {
        display: flex;
        justify-content: center;
        margin-top: 5px;
        width: 100%;
        width: 700px;
        padding: 5px 0px;
    }

    .inputContainer2 .Search {
        width: 700px;
    }

    .inputContainer2 .Search-input {
        width: 347px;
        margin-left: 10px;
    }

    .inputContainer2 .Button-container {
        position: absolute;
        right: 0;
        top: 0;
        max-width: 100px;
        height: 2.5rem;
        box-shadow: none;
        margin-right: 11px;
        background-color: #008575;
    }

    .horizontal-line {
        display: none;
    }

    #user-container,
    .navHeader-verticalBar,
    .heart-link {
        display: none;
    }

    .nav-list1 {
        display: flex;
    }

    .Banner-link {
        max-width: 284px;
    }


    .banner-container {
        display: flex;
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .Banner-link1 {
        max-width: 1180px;
        margin-bottom: -2px;
        margin-top: 40px;
    }

    .Banner-link-2 {
        max-width: 880px;
        margin-bottom: -2px;
        margin-top: -26px;
    }

    .Banner-container-2 {
        max-width: 880px;
    }

    .banner-container {
        margin-top: -2.5rem;

    }

    .selection-container {
        flex-wrap: wrap;
    }

    .HomeCategories-category {
        min-width: 369px;
        flex: 0 0 30%;
        padding: 1rem 0;
        font-size: .8rem;
        display: flex;
        flex-direction: row;
    }

    .Footer-linksSection {
        width: 43%;
    }


    .Footer {
        flex-wrap: wrap;
    }

    .Footer-sidebar {
        width: 346px;
    }

    .Colophon-content {
        flex-direction: column;
        text-align: center;
    }


}

@media screen and (max-width: 416px) and (min-width:320px) {
    .fixedContainer {
        max-width: 270px;
    }

    .navHeader-container {
        min-width: 0;
        height: 50px;
    }

    .thriftbook-logo {
        width: 200px;
        min-width: 100%;


    }

    .CartContainer {
        margin-right: 40px;
    }

    .inputContainer {
        display: none;
    }

    .inputContainer2 {
        display: flex;
        justify-content: center;
        margin-top: 5px;
        width: 100%;
        width: 700px;
        padding: 5px 0px;
    }

    .inputContainer2 .Search {
        width: 700px;
    }

    .inputContainer2 .Search-input {
        width: 237px;
        margin-left: 10px;
    }

    .inputContainer2 .Button-container {
        position: absolute;
        right: 0;
        top: 0;
        max-width: 100px;
        height: 2.5rem;
        box-shadow: none;
        margin-right: 11px;
        background-color: #008575;
    }

    .horizontal-line {
        display: none;
    }

    #user-container,
    .navHeader-verticalBar,
    .heart-link {
        display: none;
    }

    .nav-list1 {
        display: flex;
    }

    .Banner-link {
        max-width: 284px;
    }


    .banner-container {
        display: flex;
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .Banner-link1 {
        max-width: 1180px;
        margin-bottom: -2px;
        margin-top: 40px;
    }

    .Banner-link-2 {
        max-width: 880px;
        margin-bottom: -2px;
        margin-top: -26px;
    }

    .Banner-container-2 {
        max-width: 880px;
    }

    .banner-container {
        margin-top: -2.5rem;

    }

    .selection-container {
        flex-wrap: wrap;
    }

    .HomeCategories-category {
        min-width: 369px;
        flex: 0 0 30%;
        padding: 1rem 0;
        font-size: .8rem;
        display: flex;
        flex-direction: row;
    }

    .Footer-linksSection {
        width: 43%;
    }

    .Footer {
        flex-wrap: wrap;
    }

    .Footer-sidebar {
        width: 346px;
    }

    .Colophon-content {
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 320px) and (min-width:50px) {
    .fixedContainer {
        max-width: 200px;
    }

    .navHeader-container {
        min-width: 0;
        height: 50px;
    }

    .thriftbook-logo {
        width: 200px;
        min-width: 100%;


    }

    .CartContainer {
        margin-right: 40px;
    }

    .inputContainer {
        display: none;
    }

    .inputContainer2 {
        display: flex;
        justify-content: center;
        margin-top: 5px;
        width: 100%;
        width: 700px;
        padding: 5px 0px;
    }

    .inputContainer2 .Search {
        width: 700px;
    }

    .inputContainer2 .Search-input {
        width: 237px;
        margin-left: 10px;
    }

    .inputContainer2 .Button-container {
        position: absolute;
        right: 0;
        top: 0;
        max-width: 100px;
        height: 2.5rem;
        box-shadow: none;
        margin-right: 11px;
        background-color: #008575;
    }

    .horizontal-line {
        display: none;
    }

    #user-container,
    .navHeader-verticalBar,
    .heart-link {
        display: none;
    }

    .nav-list1 {
        display: flex;
    }

    .Banner-link {
        max-width: 284px;
    }


    .banner-container {
        display: flex;
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .Banner-link1 {
        max-width: 1180px;
        margin-bottom: -2px;
        margin-top: 40px;
    }

    .Banner-link-2 {
        max-width: 880px;
        margin-bottom: -2px;
        margin-top: -26px;
    }

    .Banner-container-2 {
        max-width: 880px;
    }

    .banner-container {
        margin-top: -2.5rem;

    }

    .selection-container {
        flex-wrap: wrap;
    }

    .HomeCategories-category {
        min-width: 369px;
        flex: 0 0 30%;
        padding: 1rem 0;
        font-size: .8rem;
        display: flex;
        flex-direction: row;
    }

    .Footer-linksSection {
        width: 43%;
    }

    .Footer {
        flex-wrap: wrap;
    }

    .Footer-sidebar {
        width: 346px;
    }

    .Colophon-content {
        flex-direction: column;
        text-align: center;
    }
}